name: test

on:
  push:
  workflow_dispatch:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    container: perl:latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install deps
        run: sh -c "cpanm -n File::ShareDir::Install ; cpanm -n --installdeps ."

      - name: test
        run: sh -c "perl Makefile.PL ; make test"
